Repository Javierajo2006/Proyecto_pratica_git, pull requests merged in 2024-02, with the labels that each got.

#4 Merge funcion hola mundo mateo.cpp
  mateo.cpp
Labels: mateoLabel

#6 Nueva funcion: javier
  javier.cpp
Labels: bug, javier

#5 Agregar holamundo
  santiago.cpp
Labels: bug, Santiago

#7 version 1.1Develop
  javier.cpp
  mateo.cpp
  santiago.cpp
Labels: bug
